Repository ade-sede/plex: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, mdformat

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.0
    hooks:
      - id: gitleaks
        language_version: system

  - repo: local
    hooks:
      - id: alejandra
        name: alejandra
        entry: alejandra
        language: system
        files: \.nix$
        
      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        files: \.md$

setup proper service cascade
  nix/juicefs.nix
  nix/sqlite.nix
Due: alejandra

remove plex user
  README.md
  nix/juicefs.nix
  nix/plex.nix
  nix/sqlite.nix
  nix/users.nix
Due: alejandra, mdformat

run with plexraw instead of plex
  nix/plex.nix
Due: alejandra

implement jellyfin as an alternative to plex
  README.md
  flake.nix
  nix/jellyfin.nix
  nix/nginx.nix
Due: alejandra, mdformat

users can write to juicefs
  nix/juicefs.nix
  nix/users.nix
Due: alejandra

recursive perms
  nix/juicefs.nix
Due: alejandra

can login as root
  nix/network.nix
Due: alejandra

rename repo
  README.md
Due: mdformat

qbittorrent
  AGENTS.md
  README.md
  nix/system.nix
Due: alejandra, mdformat

qbittorrent as a service
  flake.nix
  nix/nginx.nix
  nix/qbittorrent.nix
Due: alejandra

fix password on qbittorrent webui
  nix/qbittorrent.nix
Due: alejandra

experiment with PW strategies on qbittorrent
  nix/qbittorrent.nix
Due: alejandra

always change via webui
  README.md
  flake.nix
  nix/qbittorrent.nix
Due: alejandra, mdformat

set auth at the http level
  README.md
  flake.nix
  nix/nginx.nix
  nix/qbittorrent.nix
Due: alejandra, mdformat

sonarr
  AGENTS.md
  flake.nix
  nix/nginx.nix
  nix/sonarr.nix
Due: alejandra, mdformat

same PW for all http locations
  flake.nix
  nix/nginx.nix
Due: alejandra

sonarr config with base url
  nix/nginx.nix
  nix/sonarr.nix
Due: alejandra

try prowlarr
  flake.nix
  nix/nginx.nix
  nix/prowlarr.nix
Due: alejandra

try radarr
  flake.nix
  nix/nginx.nix
  nix/radarr.nix
Due: alejandra

try bazarr
  flake.nix
  nix/bazarr.nix
  nix/nginx.nix
Due: alejandra

remove redundant doc, will rewrite later
  README.md
Due: mdformat

simplify domain names
  nix/nginx.nix
Due: alejandra

try jellyseer
  flake.nix
  nix/jellyseerr.nix
  nix/nginx.nix
  nix/system.nix
Due: alejandra

jellyseer workaround
  AGENTS.md
  nix/nginx.nix
Due: alejandra, mdformat

simplify
  nix/jellyfin.nix
  nix/jellyseerr.nix
  nix/nginx.nix
Due: alejandra

iteration
  nix/jellyseerr.nix
Due: alejandra

refactor
  README.md
  flake.nix
  nix/media-center.nix
  nix/network.nix
  nix/services/bazarr.nix
  nix/services/jellyfin.nix
  nix/services/jellyseerr.nix
  nix/services/juicefs.nix
  nix/services/nginx.nix
  nix/services/plex.nix
  nix/services/prowlarr.nix
  nix/services/qbittorrent.nix
  nix/services/radarr.nix
  nix/services/sonarr.nix
  nix/sqlite.nix
Due: alejandra, mdformat

refactor
  .gitignore
  flake.nix
  nix/services/bazarr.nix
  nix/services/jellyfin.nix
  nix/services/jellyseerr.nix
  nix/services/juicefs.nix
  nix/services/plex.nix
  nix/services/prowlarr.nix
  nix/services/qbittorrent.nix
  nix/services/radarr.nix
  nix/services/sonarr.nix
  nix/system.nix
Due: alejandra

refactor configs
  nix/config-templates/bazarr.config.ini.template
  nix/config-templates/qbittorrent.conf.template
  nix/config-templates/radarr.config.xml.template
  nix/config-templates/sonarr.config.xml.template
  nix/lib/config-helpers.nix
  nix/services/bazarr.nix
  nix/services/qbittorrent.nix
  nix/services/radarr.nix
  nix/services/sonarr.nix
Due: alejandra

media dirs
  nix/services/radarr.nix
  nix/services/sonarr.nix
Due: alejandra

refactor
  nix/lib/nginx-helpers.nix
  nix/services/nginx.nix
Due: alejandra

rename dir
  README.md
Due: mdformat

readme
  README.md
Due: mdformat

http user is 'admin'
  nix/services/nginx.nix
Due: alejandra

recursive config helper
  README.md
  nix/lib/config-helpers.nix
Due: alejandra, mdformat

docs
  README.md
Due: mdformat

run as root
  nix/services/jellyfin.nix
Due: alejandra

perms
  nix/services/jellyfin.nix
Due: alejandra
